.devcontainer/
.vscode/
.svelte-kit/
.vite/
dist/
node_modules/
*.tgz
.env
.env.*
logs
*.log
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
deno.lock
/_svseeds/
/index.js
/index.d.ts
/publish.sh
