# Output
/.svelte-kit
/build
/dist
.wrangler
*.tgz
/npm/

# Env
.env
.env.*

# Vite
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
logs
*.log
npm-debug.log*

# Node
node_modules/
.npmrc

# Cache
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache

# Test
*.sqlite

# VSCode
.devcontainer/
.vscode/
.vscode-test

# AI
/.trash/
/.plan/
/.claude/
/.codex/
CLAUDE.md
AGENTS.md
SKILL.md

# Others
.devconfig/
.ref/
/zzz.ts
/publish.sh
/backup.sh
